# ========================
# DIRETÓRIOS DE DEPENDÊNCIAS E BUILD
# ========================
**/node_modules

# ========================
# ARQUIVOS OCULTOS E CONFIGS LOCAIS
# ========================
**/.DS_Store
**/.vscode
**/.idea

# ========================
# ARQUIVOS DO GIT
# ========================
.git
.gitignore

# ========================
# LOGS
# ========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# ARQUIVOS TEMPORÁRIOS
# ========================
*.swp
*.swo
*.tmp
*.bak

# ========================
# ARQUIVOS QUE NÃO PRECISAM ESTAR NA IMAGEM
# ========================
*.md
*.sln