# ========================
# GERAL
# ========================
.DS_Store
*.tmp
*.bak
*.swp
*.dll

# ========================
# IDEs e Ferramentas
# ========================
.vscode/
.idea/
*.code-workspace

# ========================
# BACKEND ( Node / Express)
# ========================
api/.vs/
api/node_modules
api/logs/

# ========================
# FRONTEND ( Typescript / React Vite )
# ========================
client/.vs/
client/node_modules

# ========================
# DOCKER
# ========================
*.pid
*.sock
.env.docker
.env.local